<div class="ekart--search--product">
    <!-- <input  class="ekart-search-product-input" [(ngModel)]="searchText" (input)="onSearchTextChange()"> -->
     <input class="ekart-search-product-input" #searchInput>
    <!-- <button [ngClass]="{'btn':true,'btn-search':searchText,'btn-search-disabled':!searchText }" [disabled]="!searchText">Search</button> -->
     <button class="btn btn-search" (click)="updateSearchText(searchInput)">Search</button>
</div>
<div class="ekart-search-result-for"><p><strong *ngIf="searchText!=''">Search result for: </strong>{{searchText}}</p></div>
<!-- false, null, undefined, '', 0   Falsy values -->