<app-filter [all]="totalProductCount" [inStock]="totalProductInStock" [outOfStock]="totalProuctOutOfStock" (selectedFilterButtonChanged)="onFilterChanged($event)"></app-filter>
<div class="ekart--products--container">
   <div *ngFor="let prod of products" (click)="selectedProduct=prod">
      <!-- Used in filter -->
   <!-- <app-product  [product]="prod" *ngIf="selectedFilteredRadioButton==='all'|| prod.is_in_inventory.toString()===selectedFilteredRadioButton"></app-product> -->
    <app-product [product]="prod" *ngIf="searchText===''||prod.name.toLowerCase().includes(searchText.toLowerCase())"></app-product>
   </div>
</div>